page-injury {
  .cellpadding td {
    padding:5px
  }

  p {
    padding: 5px;
  }

  .header-row {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }

  .select-column {
    background: #808080;
    font-weight: bold;
    color: black;
    font-size: 12px;
  }

  .header-column {
    background: black;
    font-weight: bold;
    color: white;
    font-size: 12px;
  }

  ion-row:nth-of-type(odd) {
    background: lightgray;
    border: none;
    padding: 0px;

    ion-col {
      font-size: 10px;
      padding: 0px;
      border: none;
      background: lightgray;
      box-shadow: none;
    }
    ion-item {
      font-size: 10px;
      padding: 0px;
      border: none;
      background: lightgray;
      box-shadow: none;
    }
    ion-label {
      font-size: 10px;
      border: none;
      background: lightgray;
    }

    ion-radio {
      font-size: 10px;
      border: none;
      background: lightgray;
      vertical-align: text-top;
      box-shadow: none;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      margin-right: 0px;
    }
  }

  ion-row:nth-of-type(even) {
    font-size: 10px;
    background: white;
    border: none;
    padding: 0px;

    ion-col {
      font-size: 10px;
      padding: 0px;
      border: none;
      background: white;
      box-shadow: none;

    }
    ion-item {
      font-size: 10px;
      padding: 0px;
      border: none;
      background: white;
      box-shadow: none;
    }
    ion-label {
      font-size: 10px;
      border: none;
      background: white;
    }
    ion-radio {
      font-size: 10px;
      border: none;
      background: white;
      box-shadow: none;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      margin-right: 0px;
    }
  }
}
